.dropdown-album-container {
    margin-top: 300px;
    width: 100%;
  }
  
  .dropdown-toggle {
    width: 100%;
    text-align: left;
  }
  
  .dropdown-menu {
    max-height: 200px;
    overflow-y: auto;
  }
  
  .dropdown-item {
    padding: 10px 15px;
  }
  
  .dropdown-item:hover {
    background-color: #e0e0e0;
    cursor: pointer;
  }
  